.cf_error{
color:red;
}

.cf_success{
color:green;
}

.cf_form{
display:block;
width:100%;
padding:0;
margin:0;
border:0;
}

.cf_inputdiv input[type="file"]{
max-width:100%;
}

.cf_input{
width:100%;
}

.cf_input_error{
border-color:red !important;
}

.cf_tbl{
display:table;
margin:auto;
}

.cf_row{
display:table-row;
}

.cf_cell_l{
display:table-cell;
padding-top:15px;
padding-bottom:5px;
}

.cf_cell_r{
display:table-cell;
padding-top:15px;
padding-bottom:5px;
}

.cf_inputdiv{
display:block;
width:400px;
}

.cf_labeldiv{
display:block;
text-align:right;
white-space:nowrap;
}

.cf_labeldiv label{
display:block;
margin-right:4px;
}

#cf_submitbtn{
padding-top:4px;
padding-bottom:4px;
width:100%;
}

@media screen and (max-width:600px){
.cf_tbl{
width:100%;
}
.cf_cell_r{
width:100%;
}
.cf_inputdiv{
width:100%;
}
}

@media screen and (max-width:450px){
.cf_row{
display:block;
width:100%;
}
.cf_cell_l{
display:block;
padding-bottom:2px;
}
.cf_cell_r{
display:block;
padding-top:2px;
}
.cf_labeldiv{
text-align:left;
}
.cf_labeldiv label{
width:auto;
}
}